.project
.classpath
build.xml
.settings
.svn
.idea
pom.properties
.gitignore.sublime-workspace
.externalToolBuilders

*.class
*.jar
*.war
*.ear
*.log

tomcat.8080
build
logs
target
bin
test-output
work/Tomcat
/core/.gradle
/core/modules/.gradle
/labs/test-onetwo/.gradle
/labs/test-onetwo/*.log
/labs/gradle-plugins/jfish-deploy/.gradle
/labs/dbtest/dbtest/.gradle
/labs/dbtest/jfish-orm-test/.gradle
/core/projects/appweb/.gradle
/core/projects/appweb-admin/.gradle

/core/modules/ajaxanywhere/.groovy/*.xdsl
release-pom.xml
.releaseBackup
pom.xml.releaseBackup
*.orig
/core/modules/dbm/src/test/resources/db/generator/emall/emall-jdbc.properties
application-product.yaml
*.externalToolBuilders
*.iml
/core/modules/dbm/*.iml
/core/release.properties
/core/modules/common/src/test/java/org/onetwo/common/drawtest
/core/deploy-all.bat
/core/modules/rocketmq/src/test/resources/ons-test.properties
/core/deploy-microcloud.bat
/core/modules/rocketmq/src/test/resources/rmqwithonsclient-test.properties
/core/modules/spring/src/test/java/org/onetwo/common/apiclient/api/PapaBookingClient.java
/core/modules/spring/src/test/java/org/onetwo/common/apiclient/PapaBookingSoccerTest.java
/core/modules/spring/src/test/java/org/onetwo/common/apiclient/PapaBookingService.java
/core/modules/common/src/test/java/org/onetwo/common/project/CloudsoftRefactorTest.java
.DS_Store
core/deploy-all.sh
core/deploy-microcloud.sh
rebel.xml
/core/modules/common/src/test/java/org/onetwo/common/project
/core/git-scripts
