USE [ICCARD]
GO
 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[RTRIMCHAR]
(
	@IN_STR VARCHAR(1000),
	@IN_TRIM CHAR(100)
)
RETURNS VARCHAR(200)
AS
BEGIN
	DECLARE @OUT_STR VARCHAR(1000),
			@TRIM_COUNT INT;
	SET @TRIM_COUNT = LEN(@IN_TRIM);
	SET @OUT_STR = @IN_STR;
	WHILE(RIGHT(@OUT_STR, @TRIM_COUNT)=@IN_TRIM)
	BEGIN
		SET @OUT_STR = SUBSTRING(@OUT_STR, 1, LEN(@OUT_STR)-@TRIM_COUNT);
	END
	
	RETURN @OUT_STR;
END