USE [iccard]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GENERAL_SUMMARY]    Script Date: 11/07/2014 15:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[PROC_GENERAL_SUMMARY](
	@IN_PID		CHAR(12), --终端机编号
	@IN_PTIME	CHAR(14), --终端日期时间
	@IN_TT		VARCHAR(2), --信息类型
	@IN_START_DATE	VARCHAR(8),	--查询开始日期
	@IN_END_DATE	VARCHAR(8),	--查询结束日期
	@IN_CARD_LCN	VARCHAR(16),	--逻辑卡号
	@IN_OPT		CHAR(2), --操作员号
	@IN_OUTID	VARCHAR(40), --联机消费ID
	
	@OUT_RETCODE	VARCHAR(4) OUT, --返回码
	@OUT_SHOWMSG	VARCHAR(100) OUT, --显示信息
	@OUT_PRINTMSG	VARCHAR(600) OUT--打印信息
)
AS

DECLARE @V_SQL NVARCHAR(1000),
		@PARAM_DEF	NVARCHAR(500),
		@V_WHERE NVARCHAR(800),
		@V_START_TIME DATETIME,
		@V_END_TIME DATETIME,
		@V_OUT_COUNT INT,	--消费总计笔数
		@V_MERCHANT_NAME VARCHAR(200),
		@V_PID_NUMB BIGINT,
		@V_IN_COUNT INT;	--充值总计笔数


BEGIN TRY		
	
	BEGIN TRANSACTION;
	
	SET @V_PID_NUMB = CAST(@IN_PID AS BIGINT);
	
	--查找商户名称
	IF(@V_PID_NUMB > 100000000)
		BEGIN
			SET @V_MERCHANT_NAME = (SELECT mi.name FROM term_recharge_pos tp
			left join merchant_info mi ON tp.merchant_id=mi.id
			WHERE tp.recharge_pos_no LIKE '%'+@IN_PID);
		END
	ELSE
		BEGIN
			SET @V_MERCHANT_NAME = (SELECT mi.name FROM term_pos tp
			left join merchant_info mi ON tp.merchant_id=mi.id
			WHERE tp.pos_no=@IN_PID);
		END
	
	
	--初始化输出参数
	SET @OUT_RETCODE='0000';
	SET @OUT_SHOWMSG = '';
	SET @OUT_PRINTMSG = '';
	
		IF (@IN_TT='01')
		BEGIN
			--SET @V_MONTH = SUBSTRING(@IN_PTIME, 1, 6);
			--SET @V_DATE = SUBSTRING(@IN_PTIME, 1, 8);
	
			SET @V_START_TIME = CAST(@IN_START_DATE +' 00:00:00' AS DATETIME);
			SET @V_END_TIME = CAST(@IN_END_DATE +' 23:59:59.997' AS DATETIME);
	
			---如果有卡号，查询卡的消费记录			
			IF (@IN_CARD_LCN <> '0000000000000000')
				BEGIN
					DECLARE @V_LIMIT_PER	INT, ---每次获取限制条数
							@V_ACTUAL_FIND INT; ---本次获取条数
					
					SET @V_LIMIT_PER = 10;
					SET @V_ACTUAL_FIND = 0;
					--调用存储过程PROC_FIND_TRAVEL_CONSUM查询卡消费记录
					EXEC DBO.PROC_FIND_TRAVEL_CONSUM 
							@IN_PID=@IN_PID,
							@IN_LCN=@IN_CARD_LCN,
							@IN_START_DATE=@V_START_TIME,
							@IN_END_DATE=@V_END_TIME,
							@IN_LIMIT = @V_LIMIT_PER,
							@OUT_RETCODE=@OUT_RETCODE OUTPUT,
							@OUT_MSG=@OUT_PRINTMSG OUTPUT,
							@OUT_COUNT=@V_ACTUAL_FIND OUTPUT;
					
					IF(@OUT_RETCODE='FF01')
						BEGIN
							SET @OUT_SHOWMSG = '查询结果：'+@OUT_PRINTMSG+'！\n\0';
						END
					
				
					--PRINT 'OUTMSG['+CAST(@V_HAS_FINDED AS VARCHAR)+'], LEN['+CAST(LEN(@OUT_PRINTMSG) AS VARCHAR)+']:'+@OUT_PRINTMSG+'||';
				END
			ELSE
			---不传卡号，只查询汇总
				BEGIN
					SET @OUT_PRINTMSG = '商户名称：'+@V_MERCHANT_NAME+'\n'+
										'终 端 号：'+@IN_PID+'\n';
					SET @V_WHERE = 'and tb.tim >= @START_TIME and tb.tim <= @END_TIME and tb.pid='''+@IN_PID+'''  ';
					SET @V_SQL = '(select @V_COUNT_OUT=COUNT(tb.id) from out_transaction tb where tb.tt=''07'' '+@V_WHERE+')';
				
					SET @PARAM_DEF = N'@START_TIME DATETIME, @END_TIME DATETIME, @V_COUNT_OUT INT OUTPUT';
					EXEC sp_executesql @V_SQL, @PARAM_DEF, @START_TIME=@V_START_TIME, @END_TIME=@V_END_TIME, @V_COUNT_OUT=@V_OUT_COUNT OUTPUT 
					
					SET @OUT_PRINTMSG = @OUT_PRINTMSG + '消费总交易笔数：'+CAST(@V_OUT_COUNT AS VARCHAR)+'\n\0';
					SET @OUT_SHOWMSG = '消费总交易笔数：'+CAST(@V_OUT_COUNT AS VARCHAR)+'\n按F1打印。\n\0';
				END
			
			SET @OUT_RETCODE = '0000';
		END
		--商户授值额度上限查询
		ELSE IF(@IN_TT='02')
		BEGIN
			
			--zws 2014-05-24：增加：查询是否受限商户标记
			DECLARE @V_IS_LIMIT_ASSIGN	INT,	--是否受限商户
					@V_LIMIT_MERCHANT_ID	BIGINT,
					@V_MERCHANT_DATE_LIMIT	BIGINT; --商户每天受限金额
					
			DECLARE @V_MERCHANT_RECHARGE_LIMIT	VARCHAR(255);
			--根据终端号查得授值上限
			IF(@V_PID_NUMB > 100000000)
				BEGIN
					--zws 2014-05-24：增加：查询是否受限商户标记
					/*
					SELECT @V_MERCHANT_RECHARGE_LIMIT=mc.recharge_limit from merchant_company mc where mc.id=( 
					SELECT mi.company_id FROM merchant_info mi
					LEFT JOIN term_recharge_pos tp ON mi.id = tp.merchant_id 
					WHERE tp.recharge_pos_no LIKE '%'+@IN_PID);
					*/
					SELECT @V_MERCHANT_RECHARGE_LIMIT=mc.recharge_limit, @V_LIMIT_MERCHANT_ID=mi.id, 
							@V_IS_LIMIT_ASSIGN=mi.IS_LIMIT_ASSIGN, @V_MERCHANT_DATE_LIMIT=mi.recharge_limit
						from merchant_company mc 
						left join merchant_info mi on mi.company_id=mc.id
						LEFT JOIN term_recharge_pos tp ON mi.id = tp.merchant_id 
						WHERE tp.recharge_pos_no LIKE '%'+@IN_PID;
				END
			ELSE
				BEGIN
					--zws 2014-05-24：增加：查询是否受限商户标记
					/*
					SELECT @V_MERCHANT_RECHARGE_LIMIT=mc.recharge_limit from merchant_company mc where mc.id=( 
					SELECT mi.company_id FROM merchant_info mi
					LEFT JOIN term_pos tp ON mi.id = tp.merchant_id 
					WHERE tp.pos_no=@IN_PID);
					*/
					SELECT @V_MERCHANT_RECHARGE_LIMIT=mc.recharge_limit, @V_LIMIT_MERCHANT_ID=mi.id, 
							@V_IS_LIMIT_ASSIGN=mi.IS_LIMIT_ASSIGN, @V_MERCHANT_DATE_LIMIT=mi.recharge_limit
						from merchant_company mc 
						left join merchant_info mi on mi.company_id=mc.id
						LEFT JOIN term_pos tp ON mi.id = tp.merchant_id 
						WHERE tp.pos_no=@IN_PID;
				END	
			
			SET @V_MERCHANT_RECHARGE_LIMIT = CAST( CAST(CAST(@V_MERCHANT_RECHARGE_LIMIT AS BIGINT)/100.0 AS numeric(16, 2)) AS VARCHAR)+' 元';
			SET @OUT_SHOWMSG = ISNULL(@V_MERCHANT_NAME, '找不到商户') + '：\n' + ISNULL(@V_MERCHANT_RECHARGE_LIMIT, '查询额度失败');
			SET @OUT_PRINTMSG='\n\0';
			
			--zws 2014-05-24：增加受限商户判断
			SET @V_IS_LIMIT_ASSIGN = ISNULL(@V_IS_LIMIT_ASSIGN, 0);--默认非受限
			PRINT 'PID:'+@IN_PID
			PRINT 'V_IS_LIMIT_ASSIGN:'+CAST(@V_IS_LIMIT_ASSIGN AS VARCHAR)
			
			IF(@V_IS_LIMIT_ASSIGN=1)
				BEGIN
					DECLARE @V_RECHARGED BIGINT;
					select @V_RECHARGED=DBO.GET_MERCHANT_DAILY_IN_TRANSACTION(@V_LIMIT_MERCHANT_ID, GETDATE());
					SET @V_MERCHANT_DATE_LIMIT = ISNULL(@V_MERCHANT_DATE_LIMIT, 0);
					SET @V_MERCHANT_DATE_LIMIT = @V_MERCHANT_DATE_LIMIT - @V_RECHARGED;
					SET @OUT_SHOWMSG = @OUT_SHOWMSG + '\n今日剩余限额：\n'+CAST(CAST(@V_MERCHANT_DATE_LIMIT/100.0 AS NUMERIC(16, 2)) AS VARCHAR) + ' 元';
				END
			
			SET @OUT_SHOWMSG = @OUT_SHOWMSG + '\n\0';
			
		END
		--查询交易汇总
		ELSE IF(@IN_TT='00')
		BEGIN
			DECLARE @V_CPID VARCHAR(20),@V_XPID VARCHAR(12),@V_MERCHANT_ID BIGINT,@V_TB_NAME VARCHAR(100),
				@COUNT INT,@MONEY BIGINT,@V_END_DATE VARCHAR(18);

			--SET @V_END_DATE =@IN_END_DATE+'235959.997';
			
				
			
			--2014-11-07 zws start
			DECLARE @MONTH_TABLE VARCHAR(50),
					@QUERY_SQL NVARCHAR(1000);
			IF(datediff(MONTH, CAST(@IN_START_DATE AS DATETIME), CAST(@IN_END_DATE AS DATETIME))!=0)
				BEGIN
					--返回信息
					SET @OUT_SHOWMSG = '不能跨月查询汇总！\n'+
									   '按F1打印。\n\0';
					SET @OUT_PRINTMSG = '不能跨月查询汇总！\n\0';
					SET @OUT_RETCODE = '0000';
					IF @@TRANCOUNT<>0
						COMMIT TRANSACTION;
					RETURN -1;  
				END		
			--2014-11-07 zws end
				
			--查询充值汇总
			IF(CAST(@IN_PID AS BIGINT) >= 100000000)
				BEGIN
					
						
					SET @V_CPID='00000000'+@IN_PID;
					--找到商户ID
					SELECT @V_MERCHANT_ID=MERCHANT_ID FROM TERM_RECHARGE_POS WHERE RECHARGE_POS_NO=@V_CPID;
					IF(@V_MERCHANT_ID IS NULL)
						BEGIN
							SET @OUT_RETCODE='FF03';
							SET @OUT_SHOWMSG = '找不到商户！\n查询失败\n\0';
							RETURN -2;
						END
					BEGIN TRANSACTION 
						--查询商户名
						SELECT @V_MERCHANT_NAME=NAME FROM merchant_info WHERE ID=@V_MERCHANT_ID;
						
						--查询总笔数、总金额
						--2014-11-07 zws	
						/***
						SELECT @COUNT=COUNT(ID), @MONEY=SUM(TF) FROM IN_TRANSACTION WHERE PID=@IN_PID AND TIM>=
							DBO.DATEFORMAT(@IN_START_DATE) AND TIM<=DBO.DATETIMEFORMAT(@V_END_DATE) AND OPT=@IN_OPT AND STATUS='00' AND TAC!='00000000'; 
							DECLARE @QUERY_SQL NVARCHAR(1000),
							@MONTH_TABLE VARCHAR(100);
						*/
						
						SET @MONTH_TABLE = 'in_transaction_'+SUBSTRING(@IN_START_DATE, 1, 6);
						SET @QUERY_SQL = N'DECLARE CURSOR_OUT CURSOR SCROLL FOR 
											SELECT 
												ISNULL(COUNT(ID), 0), ISNULL(SUM(TF), 0) FROM '+@MONTH_TABLE+' 
											WHERE 
												PID='''+@IN_PID+''' 
												AND SETTLE_TIM>= CAST('''+@IN_START_DATE +''' AS DATETIME) 
												AND SETTLE_TIM<CAST('''+@IN_END_DATE + ''' AS DATETIME)+1 
												AND OPT='''+@IN_OPT+''' AND STATUS=''00'' AND TAC!=''00000000'';
										';
						EXECUTE (@QUERY_SQL);
						OPEN CURSOR_OUT;
						FETCH NEXT FROM CURSOR_OUT INTO @COUNT, @MONEY;
						WHILE(@@FETCH_STATUS=0)
							BEGIN
								FETCH NEXT FROM CURSOR_OUT INTO @COUNT, @MONEY;
							END
						CLOSE CURSOR_OUT;
						DEALLOCATE CURSOR_OUT;
					--2014-11-07 zws end
							
					COMMIT TRANSACTION;
					--2014-11-07 zws	
					/**
					IF(@COUNT IS NULL)
						SET @COUNT=0;
					IF(@MONEY IS NULL)
						SET @MONEY=0;
						*/
					--2014-11-07 zws end
					--返回信息
					SET @OUT_SHOWMSG = '总交易笔数：'+CAST(@COUNT AS VARCHAR)+' 笔\n'+
									   '总交易金额：'+CAST( CAST(@MONEY/100.0 AS numeric(16, 2)) AS VARCHAR)+' 元\n'+
									   '按F1打印。\n\0';
					SET @OUT_PRINTMSG = '商户名称：'+@V_MERCHANT_NAME+'\n'+
									    '终 端 号：'+@IN_PID+'\n'+
										'总交易笔数：'+CAST(@COUNT AS VARCHAR)+' 笔\n'+
									    '总交易金额：'+CAST( CAST(@MONEY/100.0 AS numeric(16, 2)) AS VARCHAR)+' 元\n\0';
				END
			--查询消费汇总				
			ELSE
				BEGIN
					SET @V_XPID=@IN_PID;	
					--找到商户ID							
					SELECT @V_MERCHANT_ID=MERCHANT_ID FROM TERM_POS WHERE POS_NO=@V_XPID;
					IF(@V_MERCHANT_ID IS NULL)
						BEGIN
							SET @OUT_RETCODE='FF03';
							SET @OUT_SHOWMSG = '找不到商户！\n查询失败\n\0';
							RETURN -2;
						END	
					BEGIN TRANSACTION 
						--查询商户名
						SELECT @V_MERCHANT_NAME=NAME FROM merchant_info WHERE ID=@V_MERCHANT_ID;
						--查询总笔数、总金额
					--2014-11-07 zws	
						/***
						SELECT @COUNT=COUNT(ID), @MONEY=SUM(TF) FROM OUT_TRANSACTION WHERE PID=@IN_PID AND TIM>=
							DBO.DATEFORMAT(@IN_START_DATE) AND TIM<=DBO.DATETIMEFORMAT(@V_END_DATE) AND OPT=@IN_OPT; 
							*/
						SET @MONTH_TABLE = 'out_transaction_'+SUBSTRING(@IN_START_DATE, 1, 6);
						SET @QUERY_SQL = N'DECLARE CURSOR_OUT CURSOR SCROLL FOR 
											SELECT 
												ISNULL(COUNT(ID), 0), ISNULL(SUM(TF), 0) FROM '+@MONTH_TABLE+' 
											WHERE 
												PID='''+@IN_PID+''' 
												AND SETTLE_TIM>= CAST('''+@IN_START_DATE +''' AS DATETIME) 
												AND SETTLE_TIM<CAST('''+@IN_END_DATE + ''' AS DATETIME)+1 
												AND OPT='''+@IN_OPT+''' AND TAC!=''00000000'';
										';
						EXECUTE (@QUERY_SQL);
						OPEN CURSOR_OUT;
						FETCH NEXT FROM CURSOR_OUT INTO @COUNT, @MONEY;
						WHILE(@@FETCH_STATUS=0)
							BEGIN
								FETCH NEXT FROM CURSOR_OUT INTO @COUNT, @MONEY;
							END
						CLOSE CURSOR_OUT;
						DEALLOCATE CURSOR_OUT;
					--2014-11-07 zws end
						
					COMMIT TRANSACTION;
					IF(@COUNT IS NULL)
						SET @COUNT=0;
					IF(@MONEY IS NULL)
						SET @MONEY=0;
					--返回信息
					SET @OUT_SHOWMSG = '总交易笔数：'+CAST(@COUNT AS VARCHAR)+' 笔\n'+
									   '总交易金额：'+CAST( CAST(@MONEY/100.0 AS numeric(16, 2)) AS VARCHAR)+' 元\n'+
										'按F1打印。\n\0';
					SET @OUT_PRINTMSG = '商户名称：'+@V_MERCHANT_NAME+'\n'+
									    '终 端 号：'+@IN_PID+'\n'+
										'总交易笔数：'+CAST(@COUNT AS VARCHAR)+' 笔\n'+
									    '总交易金额：'+CAST( CAST(@MONEY/100.0 AS numeric(16, 2)) AS VARCHAR)+' 元\n\0';
				END 
    	END	
    	--联机消费
    	ELSE IF(@IN_TT='03')
    	BEGIN
    		--支付成功,修改记录状态
    		IF(CAST(@IN_OUTID AS BIGINT) <> 0)
    			BEGIN
    				DECLARE @V_ID BIGINT,
    						@V_I INT=0,
    						@V_COUNT INT=CAST(LEN(@IN_OUTID)/8 AS INT);
    				--判断所上传id数据是否正确
    				IF(LEN(@IN_OUTID)%8 <>0)
    				BEGIN
    					SET @OUT_RETCODE='F700';
    					SET @OUT_SHOWMSG='数据错误!!\n\0';
    				END
    				--循环修改
    				WHILE(@V_I < @V_COUNT)
    				BEGIN
    					SET @V_ID = CAST(SUBSTRING(@IN_OUTID, @V_I*8+1, 8) AS BIGINT);
    					--修改记录状态
    					UPDATE TERM_ONLINE_CONSUME SET STATUS='PAID', LAST_UPDATE_TIME=SYSDATETIME() WHERE ID=@V_ID;
    					SET @V_I = @V_I + 1;
    				END
    			END
    		--查询记录
    		ELSE
    			BEGIN
    				DECLARE @V_OUT_ID	BIGINT,
    						@V_REMARK	VARCHAR(200),
    						@V_MONEY	INT,
    						--@V_CTYPE	VARCHAR(10),
    						@V_SEQ		INT,
    						@V_NAME		VARCHAR(20);
    				--查询记名卡用户卡姓名;非记名卡返回卡号
    				SELECT @V_NAME=NAME FROM ISSUE_USER_INFO WHERE IC_LNO=@IN_CARD_LCN;
    				IF(@V_NAME IS NULL)
    					SET @V_NAME = '卡号:'+SUBSTRING(@IN_CARD_LCN,9,8);
    				ELSE
    					SET @V_NAME = '姓名:'+@V_NAME;
    				--定义游标、查询前5条记录
    				DECLARE OUTONLINE CURSOR FOR 
    					SELECT TOP 5 ID,MONEY,REMARK FROM TERM_ONLINE_CONSUME WHERE STATUS='UNPAID' AND SUBSTRING(@IN_CARD_LCN,9,8)=CARD_NO ORDER BY ID ASC; 
    				OPEN OUTONLINE 
						FETCH NEXT FROM OUTONLINE INTO @V_OUT_ID, @V_MONEY, @V_REMARK;  
						SET @V_SEQ=1;
						WHILE(@@FETCH_STATUS=0)
							BEGIN
								IF(@V_MONEY IS NULL)
									SET @V_MONEY = 0;
								SET @OUT_SHOWMSG = @OUT_SHOWMSG + DBO.ADDZEROS(CAST(@V_OUT_ID AS VARCHAR)) + CAST(@V_MONEY AS VARCHAR)+'\n';
								SET @OUT_PRINTMSG = @OUT_PRINTMSG + '第 '+CAST(@V_SEQ AS VARCHAR)+' 条\n' + @V_NAME+'\n' + @V_REMARK+'\n' + CAST( CAST(@V_MONEY/100.0 AS NUMERIC(16, 2)) AS VARCHAR) +'元。\n上一条-4 下一条-6\n支付-确定\n';
								SET @V_SEQ = @V_SEQ + 1;
								FETCH NEXT FROM OUTONLINE INTO @V_OUT_ID, @V_MONEY, @V_REMARK;  
							END
					CLOSE OUTONLINE
					DEALLOCATE OUTONLINE;
					IF(@OUT_PRINTMSG IS NULL)
						SET @OUT_PRINTMSG='';
					IF(@OUT_PRINTMSG = '')
					BEGIN
						SET @OUT_PRINTMSG = '暂无记录...\n无需支付...\n\n\n按任意键退出...\n';
					END
					SET @OUT_SHOWMSG = @OUT_SHOWMSG + '\0';
					SET @OUT_PRINTMSG = @OUT_PRINTMSG + '\0';
    			END
    	END			
    		
	COMMIT TRANSACTION;
	IF @@ERROR<>0  
		BEGIN  
			ROLLBACK TRANSACTION;
			SET @OUT_RETCODE='FF02';
			RETURN -1;  
		END
	ELSE
		BEGIN
			SET @OUT_RETCODE = '0000';
			RETURN 0;
		END
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	PRINT ERROR_MESSAGE();
	PRINT ERROR_STATE();
	PRINT ERROR_LINE();
	SET @OUT_SHOWMSG = '操作失败！\n\0';
	SET @OUT_PRINTMSG = '';
	SET @OUT_RETCODE = 'FF01';
	RETURN -1;  
END CATCH
	






