
<@extends parent="application.html">
    
    <@override name="charset">
        <meta charset="UTF-8">
    </@override>
    
    <@override name="title">
       新闻资讯表
    </@override>
    <@override name="main-content">
       
  <div class="easyui-panel" style="padding: 5px;" data-options="fit:true">
    
     <div class="easyui-panel" style="height:15%">
        <form id="searchForm" class="easyui-form" >
           <table style="padding: 5px;" cellpadding="5px">
                <tr>
                    <td>新闻标题:</td>
                    <td>
                        <input class="easyui-textbox searchFieldClass" type="text" name="title" 
                               data-options="required:false,
                                             validType:'length[0,100]' "/>
                    </td>
                    <td>作者:</td>
                    <td>
                        <input class="easyui-textbox searchFieldClass" type="text" name="author" 
                               data-options="required:false,
                                             validType:'length[0,20]' "/>
                    </td>
                    <td>状态:</td>
                    <td>
                        <input class="easyui-combobox searchFieldClass" name="status" 
                               data-options="required:false,
                                              method: 'get',
                                              editable: false,
                                              loadFilter: helper.addEmptyOptionForComboboxFilter,
                                              url: '${siteConfig.baseURL}/configmgr/dictionary/combobox/NEWS_STATUS.json' "/>
                               
                    </td>
                </tr>
                <tr>
                   <td>&nbsp;</td>
                    <td rowspan="5">
                        <a id="btnSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索&nbsp;</a>
                    </td>
               </tr>
           </table>
       </form>
    </div>
     
    <div class="easyui-panel" style="height:85%" data-options="fit:true"> 
       <table id="dataGrid"
              title="新闻资讯表" >
        <thead>
            <tr>
                <th field="id" checkbox="true"></th>
                <th field="title" >新闻标题</th>
                <th field="author" >作者</th>
                <th field="statusName" >状态</th>
                <th field="sources" >来源</th>
                <th field="content" >详细内容</th>
                <th field="publisherId" >发布者ID</th>
                <th field="publisherName" >发布者用户名</th>
                <th field="createAt" >创建时间</th>
                <th field="updateAt" >更新时间</th>
            </tr>
        </thead>
      </table>
    </div>
    
  </div>
        
	<#include "/content/news-edit-form.html">
       
                 
    <script type="text/javascript">
    
    $('#btnSearch').bind('click', function(){
        var param = $('#searchForm').serialize();
        var url = '${siteConfig.baseURL}/content/news.json?'+param;
        $('#dataGrid').datagrid('options').url = url;
        $('#dataGrid').datagrid('reload');
    });
    
    var reqUrl = '${siteConfig.baseURL}/content/news.json';
    var editingId;
    var toolbar = [
        {
            text:'新增',
            iconCls:'icon-add',
            handler:function(){
                $('#addDataDialog').dialog('open').dialog('setTitle', '新增');

                var url = '${siteConfig.baseURL}/content/news.json';
                $('#dataForm').attr('action', url);
                $('#dataForm').find('input[name="_method"]').val('');
           }
        },

        {
            text:'编辑',
            iconCls:'icon-edit',
            handler:function(){
                if(!$('#dataGrid').isSelectedOne()){
                    $.messager.alert('警告','请选择一条数据！','warning');
                   return ;
                }
                
                var dataForm = $('#dataForm');
                var selected = $('#dataGrid').datagrid('getSelected');
                
                $('#addDataDialog').dialog('open').dialog('setTitle', '编辑');
                
                var url = '${siteConfig.baseURL}/content/news/'+selected.id+'.json';
                dataForm.attr('action', url);
                dataForm.find('input[name="_method"]').val('put');
                dataForm.form('load', url);
           }
        },

        {
            text:'删除',
            iconCls:'icon-remove',
            handler:helper.deleteHandler({
                        datagrid: '#dataGrid',
                        url: '${siteConfig.baseURL}/content/news.json',
                        idField: 'id',
                        paramIdName: 'ids'
                    })
        }
        
    ];
    
    var selectedRow = null;
    $("#dataGrid").datagrid({
        iconCls: 'icon-ok',
        rownumbers: true,
        fitColumns: true,
        pagination: true,
        singleSelect: false,
        url: reqUrl,
        method: 'get',
        pageSize: 20,
        pageList: [20, 40, 60, 100],
        //idField: 'id',
        toolbar: toolbar
    }); 
 </script>
    </@override>
</@extends>