@charset "utf-8";
/* commont */
html{overflow-y:scroll;overflow-x:hidden;}
body{font-size:12px;color:#777; font-family: \5b8b\4f53,sans-serif,"Microsoft YaHei", Arial, Verdana, Helvetica;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,input,textarea,blockquote,table,td,tr,th,thead,tbody{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
img{vertical-align:middle;border:0;}
ol,ul {list-style:none;}
li{list-style-type:none;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
h1,h2,h3,h4,h5,h6,input,select,teaxt,textarea{font-size:12px; font-weight:normal;}

/* other */
.wa100{width:100%}
.hei1{height:1%}
.left{float:left;}
.right{float:right;}
.clear{clear:both;overflow:hidden;}
.show{display:block}
.hidden{display:none}
.hand{cursor:pointer;}
.overflow{overflow:hidden;}
.noBorder{border:none;}
.unline,.unline a{text-decoration:underline}
.nounline,.nounline a,.list12 .nounline{text-decoration:none}
.textcenter{text-align:center;}
.blank10 {clear:both; height:10px; overflow:hidden; display:block;}
/* link color */
a{color:#333; text-decoration:none;}
a:visited {color:#333;text-decoration:none;}
a:hover {color:#FF0000; text-decoration:underline;}
a:active {color:#333333;}
.cRed,a.cRed:link,a.cRed:visited{ color:Red; }
.cDOrg,a.cDOrg:link,a.cDOrg:visited{ color:#FF6600;}
a.cDOrg:hover{color:#FF0000;}
.cGreen,a.cGreen:link,a.cGreen:visited {color:#5c9f37;}
a.cGreen:hover {color:#ff0000;}
.cGray,a.cGray:link,a.cGray:visited{ color: #888;}
.cWhite,a.cWhite:link,a.cWhite:visited{ color:#fff;}
a.cWhite:hover{color:#FFFF00;}
.cmore,a.cmore:link,a.cmore:visited{color:#ed6d00}
/* font */
.fB {font-weight:bold}
.fI {font-style:italic}
.fDE {text-decoration:line-through}
.f12px{ font-size:12px}
.f14px{ font-size:14px}
.f18px{ font-size:18px}

/* layout */
.lineh22{line-height:22px;}
.lineh24{line-height:24px;}
.lineh26{line-height:26px;}

.marginb6{ margin-bottom:6px;}
.marginlr10{ margin-left:10px;margin-right:10px;}
.marginl10{ margin-left:10px;}
.marginr10{ margin-right:10px;}
.margint10{ margin-top:10px;}
.marginb10{ margin-bottom:10px;}

.w960{width:960px;margin:0 auto;}
.w730{width:730px}
.w650{width:650px}
.w460{width:460px}
.w410{width:410px}
.w300{width:300px}
.w230{width:230px}
.w220{width:220px}
.w180{width:180px}


/* head */
.yooyo_head{background:url(../images/topbg_1.gif) repeat-x top;}
.yooyo_head .yooyo_headbg{background:url(../images/topbg_2.jpg) no-repeat top center;}
.yooyo_head .logo{ width:300px;height:86px; padding-top:20px;}
.yooyo_head .topban{height:30px; line-height:30px; padding:0 0 0 310px}
.yooyo_head .topban span{background:url(../images/ticon_1.gif) 8px 4px no-repeat; padding-left:20px;}
.yooyo_head .topban strong{font-size:10px;color:#AAA; padding:0 5px; font-weight:normal;}
.yooyo_head .topban .myyooyo{background:url(../images/ticon_2.gif) 5px 1px no-repeat; padding-left:20px;}
.yooyo_head .headright{ width:660px;}

.yooyo_search .searchtab_1,.yooyo_search .searchtab_2{width:52px; line-height:25px;text-align:center;  font-size:14px; float:left; margin-right:5px;cursor:pointer;}
.yooyo_search .searchtab_1{background:url(../images/searchban1.gif) no-repeat;color:#FFF;  font-weight:bold;}
.yooyo_search .searchtab_2{background:url(../images/searchban2.gif) no-repeat; }
.yooyo_search .searchcont{width:300px;border:3px solid #5fa223;line-height:24px;height:24px;  background:#FFF; padding-left:5px;}
.yooyo_search .searchcont input{ width:300px; color:#888;line-height:22px;height:22px; border:0;}
.yooyo_search .searchkey{ line-height:28px; width:290px; color:#888; margin:0 0 0 10px; }

.yooyo_menu1{ font-family:"微软雅黑"; font-size:14px; line-height:40px; height:45px; color:#5fa223;}
.yooyo_menu1 a,.yooyo_menu1 a:visited{color:#5fa223;}
.yooyo_menu1 .yooyo_home{ width:40px;background:url(../images/menuicon1.gif) 18px 14px no-repeat; padding:0 20px 5px 40px;}
.yooyo_menu1 .yzbot1{width:90px;padding-left:10px;}
.yooyo_menu2{ width:680px; padding:0 30px 0 50px;}
.yooyo_menu2 li{float:left;}
.yooyo_menu2 a{display:block;color:#5fa223;}
.yooyo_menu2 a:visited{color:#5fa223;}
.yooyo_menu2 .menu_1 a{background:url(../images/menuicon21.gif) 18px 14px no-repeat; padding:0 18px 5px 40px;}
.yooyo_menu2 .menu_11{background:url(../images/menubg_5.gif) 0 6px no-repeat; }
.yooyo_menu2 .menu_11 a{background:url(../images/menuicon2.gif) 18px 14px no-repeat; padding:0 18px 5px 40px;color:#ff0;}
.yooyo_menu2 .menu_11 a:visited{color:#ff0;}
.yooyo_menu2 .menu_2 a{background:url(../images/menuicon31.gif) 10px 14px no-repeat; padding:0 18px 5px 30px;}
.yooyo_menu2 .menu_3 a{background:url(../images/menuicon41.gif) 18px 14px no-repeat; padding:0 18px 5px 40px;}
.yooyo_menu2 .menu_4 a{background:url(../images/menuicon51.gif) 18px 14px no-repeat; padding:0 18px 5px 40px;}
.yooyo_menu2 .menu_41{background:url(../images/menubg_5.gif) 0 6px no-repeat; }
.yooyo_menu2 .menu_41 a{background:url(../images/menuicon5.gif) 18px 14px no-repeat; padding:0 18px 5px 40px;color:#ff0;}
.yooyo_menu2 .menu_41 a:visited{color:#ff0;}
.yooyo_menu2 .menu_5 a{background:url(../images/menuicon61.gif) 18px 14px no-repeat; padding:0 18px 5px 40px;}
.yooyo_menu2 .menu_6 a{background:url(../images/menuicon71.gif) 18px 14px no-repeat; padding:0 0 5px 45px;}

/*
@modify 2011-07-17
@auth : vfasky 
@description : 更新成新头部css 
*/

.drive-head{ height:183px;background:url(../images/drive/body_bg.gif) repeat-x;}
.top-ban{ margin:0 auto; width:960px; height:25px; line-height:25px;}
.drive-head .top-ban-r{ float:right; padding:0 0 0 310px}
.drive-head .top-ban-r span{background:url(../images/ticon_1.gif) 8px 4px no-repeat; padding-left:20px;}
.drive-head .top-ban-r strong{font-size:10px;color:#AAA; padding:0 5px; font-weight:normal;}
.drive-head .top-ban-r .myyooyo{background:url(../images/ticon_2.gif) 5px 1px no-repeat; padding-left:20px;}

.head-bg{background:url(../images/drive/head_bg.jpg) no-repeat center top; height:112px;}
.head-bg .head-cont{ width:970px; margin:0 auto; position:relative;}
.head-cont .logo{ position:absolute; top:10px;}
.head-bg .head-cont .hot_bg{ background:#fff;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60; height:24px; width:298px;  line-height:24px; position:absolute; right:0; top:90px;}
.head-bg .head-cont .hot{position:absolute; right:5px; top:95px;}
.nav-bg{background:url(../images/drive/nav_bg.jpg) no-repeat center top; height:49px;}
.nav-bg .nav-bg-cont{ width:970px; margin:0 auto;}
.nav-bg .nav-bg-cont ul li.disable a{ color: #ddd; font-size: 12px }
.nav-bg .nav-bg-cont ul li.disable a:hover{ text-decoration:none; cursor: default; }

.nav-bg .nav-bg-cont ul{font-size:14px; padding:3px 0 0 17px; float:left; font-weight:bold; line-height:36px;}
.nav-bg .nav-bg-cont ul a{ float:left; display:block; height:36px; color:#eee; padding:0 20px;}
.nav-bg .nav-bg-cont ul a:visited{ color:#eee;}
.nav-bg .nav-bg-cont ul a:hover{ color:#fff;}
.nav-bg .nav-bg-cont ul li{ height:36px; float:left;background:url(../images/drive/nav_bg_li.gif) no-repeat right center;}
.nav-bg .nav-bg-cont ul li.on a{background:url(../images/drive/nav_bg_on.gif) repeat-x;color:#3f770d; margin-left:-2px;}
.nav-bg .nav-bg-cont ul li.on a:visited{color:#3f770d;}
.nav-bg .nav-bg-cont ul li.nobg{ background:none;}

.nav-bg .nav-bg-cont .nav-search{ float:right;background:url(../images/drive/nav_search.jpg) no-repeat; width:296px; height:32px; display:inline; margin-top:6px;}
.nav-search .select-box{ color:#65a129; float:left; width:61px; text-align:center; height:30px; line-height: 30px;}
.nav-search .select-box .s-drop{margin-bottom:3px;*margin-bottom:-1px;}
.nav-search .input-box{ float:left; width:135px; display:inline; margin-left:32px; padding-top:9px;}
.nav-search .input-box input{ border:none; background:none; width:130px; padding-left:5px; color:#666;}
.nav-search .button-box{float:left; display:inline; margin:2px 0 0 8px;line-height:25px; text-align:center;} 
.nav-search .button-box a{ display:block; width:56px; height:25px; color:#fff; font-weight:bold;}

.nav-search {
	position: relative;
}
.nav-search .select-box{
	position: relative;
	z-index: 6;
	cursor: pointer;
}
.nav-bg .nav-bg-cont .select-list{
	display: none;
	background-color: #F1F4E4;
	position: absolute;
	top:4px;
	left:4px;
	margin: 0;
	padding: 0;
	padding-top: 28px;
	padding-bottom: 6px;
	z-index: 5;
	border-bottom:2px solid #449700;
}
.nav-bg .nav-bg-cont .select-list li{
	display: block;
	font-size: 12px;
	font-weight: normal;
	float:none;
	height:auto;
	background:none;
	line-height:100%;
	padding: 4px 20px 4px 15px;
	cursor: pointer;
	color: #6AA131;
}
.nav-bg .nav-bg-cont .select-list li.select{
	background-color: #D1EAB6;
}
/*
@modify 2011-07-17
@auth : vfasky 
@description : 更新头部css,结束
*/

/* Footer */
.yooyoFooter{width:960px;margin:0 auto;}
.yooyoFooterOne{border:#c9e2bd solid 1px;background:url(../images/sc_footerbg_56.jpg) left top repeat-x;padding:0px;padding:10px;}
.yooyoFooterOne dl{width:234px;float:left; background:url(../images/sc-ft_69.jpg) right center no-repeat;}
.yooyoFooterOne dl dt{height:32px;padding-top:3px;background:url(../images/sc-ft_76.jpg) center bottom no-repeat;text-align:center;font-size:14px;font-weight:bold;}
.yooyoFooterOne dl dt img{ vertical-align:middle;}
.yooyoFooterOne dl dd{line-height:25px;background:url(../images/sc-ft_80.jpg) left center no-repeat;padding-left:10px;margin-left:75px;}

.yooyoFooterTwo{height:34px;background:#f8f8f8;border-top:#eeeced solid 2px;margin-top:10px;}
.yooyoFooterTwo-content{position:relative;width:960px;margin:0 auto;text-align:center;padding-top:7px;color:#bbb;}
.yooyoFooterTwo-content a{padding:0 8px;}
.yooyoFooterTwo-content a:link, .yooyoFooterTwo-content a:visited{color:#666;text-decoration:none;}
.yooyoFooterTwo-content a:hover{color:#666;text-decoration:underline;}
.yooyoFooterTwo-content .top{position:absolute;top:3px;right:5px;cursor:pointer;}
.copyright{text-align:center;margin:0 auto;line-height:25px;width:960px;color:#666; padding:10px 0;}
.copyright a{padding:0 5px;}

/* Content */
#yooyocontent{width:960px; margin:0 auto;}

/* history url */
.historyUrl {height:30px;line-height:30px;padding:0 15px;padding-left:30px;color:#777;margin-bottom:10px;background:url(../images/history_url.gif) no-repeat left top;font-family:Arial, Helvetica, sans-serif;}
.historyUrl a:link {color:#666;text-decoration:underline;}
.historyUrl a:visited {color:#666;text-decoration:underline;}
.historyUrl a:hover {color:#ff0000;}

/*====================================================================圆角盒子模型*/
.rBoxComm{position:relative;border:#deeed6 solid 1px;background:url(../images/roundBg_08.gif) left top repeat-x;zoom:1;border-radius:4px;}
.rBoxComm .tl,.rBoxComm .tr,.rBoxComm .bl,.rBoxComm .br{display:inline-block;position:absolute;width:5px;height:5px;overflow:hidden;font-size:1px;line-height:1px;background:url(../images/circle.gif) no-repeat;}
.rBoxComm .tl{background-position:left top no-repeat;left:-1px;top:-1px;}
.rBoxComm .tr{background-position:right top ;right:-1px;top:-1px;}
.rBoxComm .bl{background-position:left bottom;left:-1px;bottom:-1px;}
.rBoxComm .br{background-position:right bottom;right:-1px;bottom:-1px;}

.rBoxComm .bTit01{height:30px;background:url(../images/dotted.gif) left bottom repeat-x;zoom:1;}
.rBoxComm .bTit01 h3{float:left;height:29px;line-height:30px;padding-left:10px;padding-right:15px;color:#5c9f37;font-size:14px;font-weight:bold;border-bottom:#3fb000 solid 1px;background:url(../images/news-dianping-arrow_07.gif) right center no-repeat;}
.rBoxComm .bTit01 h3 img{ vertical-align:middle;}
.rBoxComm .bTit01 span{float:right;margin-right:10px;line-height:30px;}
.rBoxComm .bTit01 span a:link, .rBoxComm .bTit01 span a:visited{color:#999;}
.rBoxComm .bTit01 span a:hover{color:#ff0000;}

.rBoxComm .bTit02{height:30px;background:url(../images/dotted.gif) left bottom repeat-x;margin:0 10px;zoom:1;}
.rBoxComm .bTit02 h3{float:left;height:30px;line-height:30px;color:#5c9f37;font-size:14px;font-weight:bold;padding-right:10px;}
.rBoxComm .bTit02 h3.icoArr {padding-right:15px;background:url(../images/news-dianping-arrow_07.gif) right center no-repeat;}
.rBoxComm .bTit02 h3 img{ vertical-align:middle;}
.rBoxComm .bTit02 span{float:right;margin-right:5px;line-height:30px;}
.rBoxComm .bTit02 span a:link, .rBoxComm .bTit02 span a:visited{color:#999;}
.rBoxComm .bTit02 span a:hover{color:#ff0000;}

.rBoxComm .bTit02 ul.tab-list{float:left;margin-top:6px;margin-left:10px;}
.rBoxComm .bTit02 ul.tab-list li {float:left;padding-left:2px;color:#666;background:url(../images/tab-list.png) left top no-repeat;margin-left:4px;}
.rBoxComm .bTit02 ul.tab-list li a {display:block;float:left;height:24px;line-height:24px;overflow:hidden;padding-left:8px;padding-right:10px;background:url(../images/tab-list.png) right top no-repeat;}
.rBoxComm .bTit02 ul.tab-list li a:hover {text-decoration:none;}
.rBoxComm .bTit02 ul.tab-list li.focus{background-position:left -24px;}
.rBoxComm .bTit02 ul.tab-list li.focus a {color:#5c9f37;background-position:right -24px;margin-left:0px;}

.fBox01{background:url(../images/newsbanbg1.gif) left top no-repeat;}
.fBox01 .cTit{height:32px;line-height:32px;background:#f6fdef;border-bottom:#e2f3d3 solid 1px;margin-bottom:1px;padding-left:16px;background:url(../images/newsbanbg1.gif) right top no-repeat;}
.fBox01 .cTit h3{ float:left;padding-left:20px;font-size:14px;color:#5fa223;background:url(../images/boxstyle_22.gif) left center no-repeat; font-weight:bold;}
.fBox01 .cTit span{float:right;margin-right:10px;line-height:30px;}
.fBox01 .cTit span a:link, .rBoxComm .bTit01 span a:visited{color:#999;}
.fBox01 .cTit span a:hover{color:#ff0000;}
.fBox01 .cContent{background:url(../images/boxstyle_26.gif) left top repeat-x;padding:10px;}
/*列表内容板块样式*/
.List-Num {margin:12px 0;padding:0 12px 0 36px;background:url(../images/num10_h26.gif) no-repeat 12px top;zoom:1;}
.List-Num li {height:25px;line-height:25px;overflow:hidden;border-bottom:1px solid #eee;}
.List-Num li.even {background:#f3f9ea;}
.List-Num li span {float:right;padding-left:10px;}

.List-hover {padding:10px 0;zoom:1;}
.List-hover dl {position:relative;height:25px;line-height:25px;padding-left:15px;padding-right:55px;overflow:hidden;margin:0 12px;background:url(../images/ticon_1.gif) no-repeat left 9px;clear:both;}
.List-hover dl .topicImg img {display:none;}
.List-hover dl dt {display:inline;}
.List-hover dl dt strong {font-weight:normal;}
.List-hover dl dd {position:absolute;top:0px;right:0px;display:inline;float:right;}
.List-hover dl dd .txt {display:none;}
.List-hover dl dd .m {color:#ff6600;font-family:Arial, Helvetica, sans-serif;}

.List-hover dl.focus {height:50px;padding:5px 3px;margin:0 10px;background:#ecf7e7;}
.List-hover dl.focus .topicImg {float:left;margin-right:7px;_margin-right:5px;border:2px solid #c8eab8;background:red;}
.List-hover dl.focus .topicImg img {display:block;float:left;border:1px solid #fff;}
.List-hover dl.focus dt {display:block;line-height:18px;max-height:36px;overflow:hidden;}
.List-hover dl.focus dt a:link {color:#5c9f37;}
.List-hover dl.focus dt a:visited {color:#5c9f37;}
.List-hover dl.focus dt a:hover {color:#ff0000;}
.List-hover dl.focus dt strong {font-weight:bold;}
.List-hover dl.focus dd {position:static;display:block;float:none;line-height:18px;}
.List-hover dl.focus dd .txt {display:inline;}

.List-normal {margin:10px;}
.List-normal li {height:25px;line-height:25px;overflow:hidden;}
.List-normal li a {margin-left:3px;}
.List-normal li span {float:right;}

.List-arrow {margin:12px;}
.List-arrow li {height:25px;line-height:25px;padding-left:14px;overflow:hidden;background:url(../images/ticon_1.gif) no-repeat left 9px;}
.List-arrow li span {float:right;padding-left:10px;}

/*通用按钮样式*/
.btnGreen_L,.btnGreen_M,.btnGreen_S,.btnOrange_L,.btnOrange_M,.btnOrange_S,.btnGray_L,.btnGray_M,.btnGray_S {display:inline-block;padding-left:2px;background:url(../images/btn_green.gif) no-repeat left -20px;cursor:pointer;margin:5px;color:#eee;white-space:nowrap;}
/*.btnGreen_L,.btnGreen_M,.btnGreen_S,.btnOrange_L,.btnOrange_M,.btnOrange_S,.btnGray_L,.btnGray_M,.btnGray_S {display:inline;}*/
.btnGreen_L:link,.btnGreen_M:link,.btnGreen_S:link,.btnOrange_L:link,.btnOrange_M:link,.btnOrange_S:link {color:#eee;}
.btnGreen_L:visited,.btnGreen_M:visited,.btnGreen_S:visited,.btnOrange_L:visited,.btnOrange_M:visited,.btnOrange_S:visited {color:#eee;}
.btnGreen_L:hover,.btnGreen_M:hover,.btnGreen_S:hover,.btnOrange_L:hover,.btnOrange_M:hover,.btnOrange_S:hover {/*color:#fff;*/filter:alpha(opacity=90);opacity:0.9;text-decoration:none;}

.btnGreen_L span,.btnGreen_M span,.btnGreen_S span,.btnOrange_L span,.btnOrange_M span,.btnOrange_S span,.btnGray_L span,.btnGray_M span,.btnGray_S span {display:inline-block;height:22px;line-height:22px;padding-left:13px;padding-right:15px;padding-top:0px;padding-bottom:1px;text-align:center;font-size:12px;font-weight:bold;background:url(../images/btn_green.gif) no-repeat right -20px;}

.btnGreen_L,.btnOrange_L,.btnGray_L {padding-left:3px;background-position:left -43px;}
.btnGreen_L span,.btnOrange_L span,.btnGray_L span {height:32px;line-height:32px;padding-left:12px;font-size:14px;background-position:right -43px;}

.btnGreen_S,.btnOrange_S,.btnGray_S {padding-left:2px;background-position:left 0px;}
.btnGreen_S span,.btnOrange_S span,.btnGray_S span {height:19px;padding-left:8px;padding-right:10px;line-height:19px;font-weight:normal;background-position:right 0px;}

.btnOrange_L,.btnOrange_L span,.btnOrange_M,.btnOrange_M span,.btnOrange_S,.btnOrange_S span {background-image:url(../images/btn_orange.gif);}

.btnGray_L,.btnGray_L span,.btnGray_M,.btnGray_M span,.btnGray_S,.btnGray_S span {background-image:url(../images/btn_gray.gif);}

.btnGray_L:link,.btnGray_M:link,.btnGray_S:link {color:#5e5e5e;}
.btnGray_L:visited,.btnGray_M:visited,.btnGray_S:visited {color:#5e5e5e;}
.btnGray_L:hover,.btnGray_M:hover,.btnGray_S:hover {/*color:#333;*/filter:alpha(opacity=90);opacity:0.9;text-decoration:none;}

.btnDisabled span {filter:alpha(opacity=70);opacity:0.7;}
.btnDisabled,.btnDisabled:hover {filter:alpha(opacity=80);opacity:0.8;}

/* pagemenu */
#pager {text-align:center;height:24px; margin-top:20px; padding:5px 0;}
#pager ul.pages li {display:inline;border:1px solid #a2d089;text-decoration:none;margin:0 5px 0 0;padding:3px 6px;}
#pager ul.pages li:hover {border:1px solid #83b667;background:#edffe3;}
#pager ul.pages li.pgEmpty {border:1px solid #eee;color:#eee;}
#pager ul.pages li.pgCurrent {color:#FFF;background:#83b667;}
#pager ul.pages li.page-number{border:0;font-weight:700;}