
<@extends parent="application.html">
    
    <@override name="charset">
        <meta charset="UTF-8">
    </@override>
    
    <@override name="title">
       小区楼盘
    </@override>
    <@override name="main-content">
       
  <div class="easyui-panel" style="padding: 5px;" data-options="fit:true">
     <div class="easyui-panel" style="height:100%">
              
       <table id="dataGrid"
              title="小区楼盘"  data-options="fit:true">
        <thead>
            <tr>
                <th field="id" checkbox="true"></th>
                <th field="districtName" >地区</th>
                <th field="isNewEstate" formatter="helper.booleanFormatter">是否新楼盘</th>
                <th field="name" >小区名称</th>
                <th field="sellStatus" >销售状态</th>
                <th field="status" >状态</th>
                <th field="mainPhotoPath" >主题图片</th>
                <th field="coordinate" >地理位置坐标</th>
                <th field="averagePrice" >住宅均价（元/平方米）</th>
                <th field="buildTime" >建造年代</th>
                <th field="openTime" >开盘时间</th>
                <th field="deliveryTime" >交房时间</th>
                <th field="address" >地址</th>
                <th field="tel" >售楼处咨询电话</th>
                <th field="propertyType" >物业类型</th>
                <th field="buildingType" >建筑类型</th>
                <th field="fitment" >装修情况</th>
                <th field="propertyFee" >物业费</th>
                <th field="developer" >开发商</th>
                <th field="propertyCompany" >物业公司</th>
                <th field="propertyRightAge" >产权年限</th>
                <th field="license" >预售许可证</th>
                <th field="saleCenter" >售楼处</th>
                <th field="plannedArea" >规划面积（平方米）</th>
                <th field="buildingArea" >建筑面积（平方米）</th>
                <th field="householdsCount" >住户数</th>
                <th field="plotRate" >容积率（%）</th>
                <th field="greenRate" >绿化率（%）</th>
                <th field="parkingCount" >停车位</th>
            </tr>
        </thead>
      </table>
      
    </div> 
  </div>
	<#include "/configmgr/estate-edit-form.html">
       
                 
    <script type="text/javascript">
    
    var editingId;
    var toolbar = [
         {
             text:'楼盘户型管理',
             handler: helper.selectOneHandler('#dataGrid', function(row){
                 location.href="${siteConfig.baseURL}/configmgr/estateUnit?estateId="+row.id+"&estateName="+row.name;
             })
         },

         {
             text:'图片管理',
             handler:helper.selectOneHandler('#dataGrid', function(row){
                         location.href="${siteConfig.baseURL}/configmgr/estate/"+row.id+"/photo";
                     })
         },

         {
             text:'价格管理',
             handler: helper.selectOneHandler('#dataGrid', function(row){
                 location.href="${siteConfig.baseURL}/configmgr/priceRecord?estateId="+row.id+"&estateName="+row.name;
             })
         },
          
        {
            text:'新增',
            iconCls:'icon-add',
            handler:function(){
                $('#addDataDialog').dialog('open').dialog('setTitle', '新增');


                var selected = $('#dataGrid').datagrid('getSelected');
                if(selected){
                    $('#parentCode').textbox('setText', selected.code);
                    $('#parentCode').textbox('setValue', selected.code);
                }
                
                var url = '${siteConfig.baseURL}/configmgr/estate.json';
                $('#dataForm').attr('action', url);
                $('#dataForm').find('input[name="_method"]').val('');
           }
        },
        
        {
            text:'编辑',
            iconCls:'icon-edit',
            handler:function(){
                if(!$('#dataGrid').isSelectedOne()){
                    $.messager.alert('警告','请选择一条数据！','warning');
                   return ;
                }
                
                var dataForm = $('#dataForm');
                var selected = $('#dataGrid').datagrid('getSelected');
                
                $('#addDataDialog').dialog('open').dialog('setTitle', '编辑');
                var url = '${siteConfig.baseURL}/configmgr/estate/'+selected.id+'.json';
                dataForm.attr('action', url);
                dataForm.find('input[name="_method"]').val('put');
                dataForm.form('load', url);
           }
        },

        {
            text:'删除',
            iconCls:'icon-remove',
            handler:helper.deleteHandler({
		                datagrid: '#dataGrid',
		                url: '${siteConfig.baseURL}/configmgr/estate.json',
		                idField: 'id',
		                paramIdName: 'ids'
		            })
        }
        
    ];
    
    var selectedRow = null;
    var loadUrl = '${siteConfig.baseURL}/configmgr/estate.json';
    var dg = $("#dataGrid").datagrid({
        iconCls: 'icon-ok',
        rownumbers: true,
        fitColumns: true,
        pagination: true,
        singleSelect: false,
        url: loadUrl,
        method: 'get',
        toolbar: toolbar
    }); 

 </script>
    </@override>
</@extends>