
<@extends parent="application.html">
    
    <@override name="charset">
        <meta charset="UTF-8">
    </@override>
    
    <@override name="title">
       楼盘图片
    </@override>
    <@override name="main-content">
       
  <div class="easyui-panel" style="padding: 5px;" data-options="fit:true">
    
     <div class="easyui-panel" style="height:15%">
        <form id="searchForm" class="easyui-form" >
           <input name="estateId" type="hidden" value="${estate.id}"/>
           <table style="padding: 5px;" cellpadding="5px">
                <tr>
                    <td>图片类型:</td>
                    <td>
                        <input class="easyui-combobox searchFieldClass" name="photoType"
                               data-options="required:false,
                                              method: 'get',
                                              editable: false,
                                              loadFilter: helper.addEmptyOptionForComboboxFilter,
                                              url: '${siteConfig.baseURL}/configmgr/dictionary/combobox/ESTATE_PHOTO_TYPE.json' "/>
                               
                    </td>
                </tr>
                <tr>
                   <td>&nbsp;</td>
                    <td rowspan="5">
                        <a id="btnSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索&nbsp;</a>
                    </td>
               </tr>
           </table>
       </form>
    </div>
     
    <div class="easyui-panel" style="height:85%" data-options="fit:true"> 
       <table id="dataGrid"
              title="楼盘[${estate.name}]图片" >
        <thead>
            <tr>
                <th field="id" checkbox="true"></th>
                <th field="estateName" >所属楼盘</th>
                <th field="title" >图片标题</th>
                <th field="photoType" >图片类型</th>
                <th field="unitId" >所属户型</th>
                <th field="photoPath" >图片路径</th>
                <th field="createAt" >上传时间</th>
            </tr>
        </thead>
      </table>
    </div>
    
  </div>
        
	<#include "/configmgr/estate-photo-edit-form.html">
       
                 
    <script type="text/javascript">
    
    $('#btnSearch').bind('click', function(){
        var param = $('#searchForm').serialize();
        var url = '${siteConfig.baseURL}/configmgr/estatePhoto.json?'+param;
        $('#dataGrid').datagrid('options').url = url;
        $('#dataGrid').datagrid('reload');
    });

    var reqUrl = '${siteConfig.baseURL}/configmgr/estate/${estate.id}/photo.json';
    
    var editingId;
    var toolbar = [
		{
		    text:'返回楼盘列表',
		    handler:function(){
		        location.href = '${siteConfig.baseURL}/configmgr/estate';
		   }
		},

        {
            text:'设置为主题图片',
            iconCls:'icon-edit',
            handler:helper.selectOneHandler({
            	datagrid: '#dataGrid',
            	url: function(row){
            		return '${siteConfig.baseURL}/configmgr/estate/${estate.id}/photo/'+row.id+'/mainPhoto.json';
            	},
            	params: {
            		_method: 'put'
            	}
            })
        },
        
        {
            text:'新增',
            iconCls:'icon-add',
            handler:function(){
                $('#addDataDialog').dialog('open').dialog('setTitle', '新增');
                $('#dataForm').find('input[name="_method"]').val('');
           }
        },

        {
            text:'删除',
            iconCls:'icon-remove',
            handler:helper.deleteHandler({
		                datagrid: '#dataGrid',
		                url: reqUrl,
		                idField: 'id',
		                paramIdName: 'ids'
		            })
        }
        
    ];
    
    var selectedRow = null;
    $("#dataGrid").datagrid({
        iconCls: 'icon-ok',
        rownumbers: true,
        fitColumns: true,
        pagination: true,
        singleSelect: false,
        url: reqUrl,
        method: 'get',
        pageSize: 20,
        pageList: [20, 40, 60, 100],
        //idField: 'id',
        toolbar: toolbar
    }); 
 </script>
    </@override>
</@extends>