<meta charset="UTF-8">
<div id="addDataDialog" class="easyui-dialog" 
    style="width:50%;height:80%;padding:10px 20px"
    data-options="closed:true, modal:true, buttons:'#dlg-buttons' ">
           填写[小区楼盘]信息<hr/>
       <form id="dataForm" class="easyui-form" action="${siteConfig.baseURL}/resourcemgr/estate.json" method="post" >
            <input id="_method" name="_method" type="hidden" />
           <input name="id" type="hidden"/>
           <input name="districtCode" id="districtCode" type="hidden"/>
           <table cellpadding="5">
                <tr>
                   <td>地区:</td>
                    <td>
                        <input class="" type="text" name="districtName" id="districtName" style="width:180px;"
                                data-options="required:true"/>
                    </td>
               </tr>
                <tr>
                   <td>是否新楼盘:</td>
                    <td>
                        <input class="easyui-combobox" type="text" name="isNewEstate" 
                               data-options="required:false,
                                             editable:false,
                                             data: [{value:'true', text:'是', selected:true}, {value:'false', text:'否'}]
                                            "/>
                               
                    </td>
               </tr>
                <tr>
                   <td>小区名称:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="name" 
                               data-options="required:true,
                                             validType:'length[0,50]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>销售状态:</td>
                    <td>
                        <input class="easyui-combobox" name="sellStatus" 
                               data-options="required:false,
                                              method: 'get',
                                              url: '${siteConfig.baseURL}/configmgr/dictionary/combobox/SELL_STATUS.json'
                                            "/>
                               
                    </td>
               </tr>
                <tr>
                   <td>地理位置坐标:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="coordinate" 
                               data-options="required:false,
                                             validType:'length[0,100]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>住宅均价（元/平方米）:</td>
                    <td>
                        <input class="easyui-numberbox" type="text" name="averagePrice" 
                               data-options="required:false"/>
                               
                    </td>
               </tr>
                <tr>
                   <td>建造年代:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="buildTime" 
                               data-options="required:false,
                                             validType:'length[0,20]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>开盘时间:</td>
                    <td>
                        <input class="easyui-datebox" type="text" name="openTime" 
                               data-options="required:false,
                                             editable:false,
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>交房时间:</td>
                    <td>
                        <input class="easyui-datebox" type="text" name="deliveryTime" 
                               data-options="required:false,
                                             editable:false,
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>地址:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="address" 
                               data-options="required:false,
                                             validType:'length[0,200]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>售楼处咨询电话:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="tel" 
                               data-options="required:false,
                                             validType:'length[0,20]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>物业类型:</td>
                    <td>
                        <input class="easyui-combobox" name="propertyType" 
                               data-options="required:false,
                                              method: 'get',
                                              url: '${siteConfig.baseURL}/configmgr/dictionary/combobox/PROPERTY_TYPE.json'
                                            "/>
                               
                    </td>
               </tr>
                <tr>
                   <td>建筑类型:</td>
                    <td>
                        <input class="easyui-combobox" name="buildingType" 
                               data-options="required:false,
                                              method: 'get',
                                              url: '${siteConfig.baseURL}/configmgr/dictionary/combobox/BUILDING_TYPE.json'
                                            "/>
                               
                    </td>
               </tr>
                <tr>
                   <td>装修情况:</td>
                    <td>
                        <input class="easyui-combobox" name="fitment" 
                               data-options="required:false,
                                              method: 'get',
                                              url: '${siteConfig.baseURL}/configmgr/dictionary/combobox/FITMENT_TYPE.json'
                                            "/>
                               
                    </td>
               </tr>
                <tr>
                   <td>物业费:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="propertyFee" 
                               data-options="required:false,
                                             validType:'length[0,20]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>开发商:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="developer" 
                               data-options="required:false,
                                             validType:'length[0,50]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>物业公司:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="propertyCompany" 
                               data-options="required:false,
                                             validType:'length[0,50]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>产权年限:</td>
                    <td>
                        <input class="easyui-numberbox" type="text" name="propertyRightAge" 
                               data-options="required:false"/>
                               
                    </td>
               </tr>
                <tr>
                   <td>预售许可证:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="license" 
                               data-options="required:false,
                                             validType:'length[0,50]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>售楼处:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="saleCenter" 
                               data-options="required:false,
                                             validType:'length[0,200]'
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>规划面积（平方米）:</td>
                    <td>
                        <input class="easyui-numberbox" type="text" name="plannedArea" 
                               data-options="required:false"/>
                               
                    </td>
               </tr>
                <tr>
                   <td>建筑面积（平方米）:</td>
                    <td>
                        <input class="easyui-numberbox" type="text" name="buildingArea" 
                               data-options="required:false"/>
                               
                    </td>
               </tr>
                <tr>
                   <td>住户数:</td>
                    <td>
                        <input class="easyui-numberbox" type="text" name="householdsCount" 
                               data-options="required:false"/>
                               
                    </td>
               </tr>
                <tr>
                   <td>容积率（%）:</td>
                    <td>
                        <input class="easyui-numberbox" type="text" name="plotRate" 
                               data-options="required:false, precision:2"/>
                               
                    </td>
               </tr>
                <tr>
                   <td>绿化率（%）:</td>
                    <td>
                        <input class="easyui-numberbox" type="text" name="greenRate" 
                               data-options="required:false, precision:2"/>
                               
                    </td>
               </tr>
                <tr>
                   <td>停车位:</td>
                    <td>
                        <input class="easyui-numberbox" type="text" name="parkingCount" 
                               data-options="required:false"/>
                               
                    </td>
               </tr>
                <tr>
                   <td>预留属性字段:</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="reserved" 
                               data-options="required:false,
                                             validType:'length[0,2000]'
                                            "/>
                    </td>
               </tr>
           </table>
           <@security.csrfInput/>
       </form>
</div>

<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveData();">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="cancel();">取消</a>
</div>
<script type="text/javascript">
   $('#districtName').combotree({
       method: 'get',
       url : "${siteConfig.baseURL}/configmgr/cityDistrict/tree.json",  
       onBeforeExpand : function(row) {  
           var url = '${siteConfig.baseURL}/configmgr/cityDistrict/tree.json?cityCode='+row.ccode+'&cityName='+row.name;
           $("#districtName").combotree("tree").tree("options").url = url;  
           return true;      
       },
       onSelect: function(node){
    	   $('#districtCode').val(node.id);
       }
   });

    function saveData(){
        helper.submitEasyForm({dataForm: '#dataForm',dataDialog: '#addDataDialog', datagrid: '#dataGrid'});
    }
    function cancel(){
        $('#addDataDialog').dialog('close');
        $('#dataForm').form('reset');
    }
</script>