
<@extends parent="application.html">
    
    <@override name="charset">
        <meta charset="UTF-8">
    </@override>
    
    <@override name="title">
       楼盘价格记录表
    </@override>
    <@override name="main-content">
       
  <div class="easyui-panel" style="padding: 5px;" data-options="fit:true">
    
    <div class="easyui-panel" style="height:85%" data-options="fit:true"> 
       <table id="dataGrid"
              title="[${RequestParameters.estateName?html}] 价格列表" >
        <thead>
            <tr>
                <th field="id" checkbox="true"></th>
                <th field="minimumPrice" >最低价格（元/平方米）</th>
                <th field="averagePrice" >均价（元/平方米）</th>
                <th field="maximumPrice" >最高价格（元/平方米）</th>
                <th field="remark" >价格描述</th>
                <th field="createAt" >创建时间</th>
            </tr>
        </thead>
      </table>
    </div>
    
  </div>
        
	<#include "/configmgr/price-record-edit-form.html">
       
                 
    <script type="text/javascript">
    
    $('#btnSearch').bind('click', function(){
        var param = $('#searchForm').serialize();
        var url = '${siteConfig.baseURL}/configmgr/priceRecord.json?'+param;
        $('#dataGrid').datagrid('options').url = url;
        $('#dataGrid').datagrid('reload');
    });
    
    var reqUrl = '${siteConfig.baseURL}/configmgr/priceRecord.json?estateId=${priceRecord.estateId}';
    var editingId;
    var toolbar = [
        {
            text:'返回楼盘列表',
            handler:function(){
                location.href = '${siteConfig.baseURL}/configmgr/estate';
           }
        },
        
        {
            text:'新增',
            iconCls:'icon-add',
            handler:function(){
                $('#addDataDialog').dialog('open').dialog('setTitle', '新增');

                var url = '${siteConfig.baseURL}/configmgr/priceRecord.json';
                $('#dataForm').attr('action', url);
                $('#dataForm').find('input[name="_method"]').val('');
           }
        },

        {
            text:'编辑',
            iconCls:'icon-edit',
            handler:function(){
                if(!$('#dataGrid').isSelectedOne()){
                    $.messager.alert('警告','请选择一条数据！','warning');
                   return ;
                }
                
                var dataForm = $('#dataForm');
                var selected = $('#dataGrid').datagrid('getSelected');
                
                $('#addDataDialog').dialog('open').dialog('setTitle', '编辑');
                
                var url = '${siteConfig.baseURL}/configmgr/priceRecord/'+selected.id+'.json';
                dataForm.attr('action', url);
                dataForm.find('input[name="_method"]').val('put');
                dataForm.form('load', url);
           }
        },

        {
            text:'删除',
            iconCls:'icon-remove',
            handler:helper.deleteHandler({
                        datagrid: '#dataGrid',
                        url: '${siteConfig.baseURL}/configmgr/priceRecord.json',
                        idField: 'id',
                        paramIdName: 'ids'
                    })
        }
        
    ];
    
    var selectedRow = null;
    $("#dataGrid").datagrid({
        iconCls: 'icon-ok',
        rownumbers: true,
        fitColumns: true,
        pagination: true,
        singleSelect: false,
        url: reqUrl,
        method: 'get',
        pageSize: 20,
        pageList: [20, 40, 60, 100],
        //idField: 'id',
        toolbar: toolbar
    }); 
 </script>
    </@override>
</@extends>