
<@extends parent="application.html">
    
    <@override name="charset">
        <meta charset="UTF-8">
    </@override>
    
    <@override name="title">
       前台用户表
    </@override>
    <@override name="main-content">
    
  <div class="easyui-panel" style="padding: 5px;" data-options="fit:true">
     <div class="easyui-panel" style="height:15%">
     
       <form id="searchForm" class="easyui-form" >
           <table style="padding: 5px;" cellpadding="5px">
                <tr>
                   <td>用户名:</td>
                    <td>
                     <input class="easyui-textbox searchFieldClass" type="text" name="userName" data-options=""/>
                    </td>
                    
                   <td>昵称:</td>
                    <td>
                     <input class="easyui-textbox searchFieldClass" type="text" name="nickName" data-options=""/>
                    </td>
                    
                   <td>状态:</td>
                    <td>
                     <input class="easyui-combobox searchFieldClass" name="status" 
                               data-options="required:false,
                                              method: 'get',
                                              editable: false,
                                              url: '${siteConfig.baseURL}/configmgr/dictionary/combobox/USER_STATUS.json',
                                              loadFilter: helper.addEmptyOptionForComboboxFilter
                                            "/>
                    </td>
               </tr>
                <tr>
                   <td>用户类型:</td>
                    <td>
                        <input class="easyui-combobox searchFieldClass" name="userType" 
                               data-options="method: 'get',
                                              url: '${siteConfig.baseURL}/configmgr/dictionary/combobox/USER_TYPE.json'
                                            "/>
                               
                    </td>
                   <td>&nbsp;</td>
                    <td rowspan="5">
                        <a id="btnSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索&nbsp;</a>
                    </td>
                    
               </tr>
           </table>
       </form>
       </div>
       
       <div class="easyui-panel" style="height:85%"> 
       <table id="dataGrid"
              title="前台用户表" data-options="fit:true">
        <thead>
            <tr>
                <th field="id" checkbox="true"></th>
                <th field="userName" >用户名</th>
                <th field="nickName" >昵称</th>
                <th field="email" >邮箱</th>
                <th field="phone" >手机</th>
                <th field="status" >状态</th>
                <th field="sex" >性别</th>
                <th field="userType" >用户类型</th>
                <th field="userScore" >用户积分</th>
                <th field="avartarPath" >头像</th>
                <th field="createAt" >注册时间</th>
                <th field="updateAt" >最后修改时间</th>
            </tr>
        </thead>
      </table>
   </div>
   
</div>   
	<#include "/account/user-edit-form.html">
       
                 
    <script type="text/javascript">
    $('#btnSearch').bind('click', function(){
    	var param = $('#searchForm').serialize();
        var url = '${siteConfig.baseURL}/account/user.json?'+param;
    	$('#dataGrid').datagrid('options').url = url;
    	$('#dataGrid').datagrid('reload');
    });
    
    
    var editingId;
    var toolbar = [
        {
            text:'新增',
            iconCls:'icon-add',
            handler:function(){
                $('#addDataDialog').dialog('open').dialog('setTitle', '新增');

                var url = '${siteConfig.baseURL}/account/user.json';
                $('#dataForm').attr('action', url);
                $('#dataForm').find('input[name="_method"]').val('');
           }
        },

        {
            text:'编辑',
            iconCls:'icon-edit',
            handler:function(){
                var selectedNodes = $('#dataGrid').datagrid('getSelections');
                if(!selectedNodes || selectedNodes.length>1){
                    $.messager.alert('警告','请选择一条数据！','warning');
                   return ;
                }
                
                var dataForm = $('#dataForm');
                var selected = $('#dataGrid').datagrid('getSelected');
                
                $('#addDataDialog').dialog('open').dialog('setTitle', '编辑');
                $('#userName').textbox('disable');
                
                var url = '${siteConfig.baseURL}/account/user/'+selected.id+'.json';
                dataForm.attr('action', url);
                dataForm.find('input[name="_method"]').val('put');
                dataForm.form('load', url);
           }
        },

        {
            text:'注销',
            iconCls:'icon-remove',
            handler:function(){
                if(!$('#dataGrid').isSelectedOne()){
                    $.messager.alert('警告','请先选择数据！','warning');
                   return ;
                }
                var selectedNodes = $('#dataGrid').datagrid('getSelections');
                var id = $.map(selectedNodes, function(e){
                    return e.id;
                });
                helper.deleteHandler({
                    datagrid: '#dataGrid',
                    url: '${siteConfig.baseURL}/account/user.json',
                    params: {'ids': id}
                });
           }
        }
        
    ];
    
    var selectedRow = null;
    var loadUrl = '${siteConfig.baseURL}/account/user.json';
    var dg = $("#dataGrid").datagrid({
        iconCls: 'icon-ok',
        rownumbers: true,
        fitColumns: true,
        pagination: true,
        singleSelect: false,
        url: loadUrl,
        method: 'get',
        pageSize: 20,
        pageList: [20, 40, 60, 100],
        //idField: 'id',
        toolbar: toolbar
    }); 
    
    
 </script>
    </@override>
</@extends>