
<@extends parent="application.html">
    
    <@override name="charset">
        <meta charset="UTF-8">
    </@override>
    
    <@override name="title">
       求租信息表
    </@override>
    <@override name="main-content">
       
  <div class="easyui-panel" style="padding: 5px;" data-options="fit:true">
    
     <div class="easyui-panel" style="height:15%">
        <form id="searchForm" class="easyui-form" >
           <table style="padding: 5px;" cellpadding="5px">
                <tr>
                    <td>租赁方式:</td>
                    <td>
                        <input class="easyui-combobox searchFieldClass" name="rentalType" 
                               data-options="required:false,
                                              method: 'get',
                                              editable: false,
                                              loadFilter: helper.addEmptyOptionForComboboxFilter,
                                              url: '${siteConfig.baseURL}/configmgr/dictionary/combobox/RENTAL_TYPE.json' "/>
                               
                    </td>
                    <td>户型（厅）:</td>
                    <td>
                        <input class="easyui-numberbox searchFieldClass" type="text" name="hallCount" 
                               data-options="required:false
                                              "/>
                               
                    </td>
                    <td>户型（室）:</td>
                    <td>
                        <input class="easyui-numberbox searchFieldClass" type="text" name="roomCount" 
                               data-options="required:false
                                              "/>
                               
                    </td>
                </tr>
                <tr>
                   <td>&nbsp;</td>
                    <td rowspan="5">
                        <a id="btnSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索&nbsp;</a>
                    </td>
               </tr>
           </table>
       </form>
    </div>
     
    <div class="easyui-panel" style="height:85%" data-options="fit:true"> 
       <table id="dataGrid"
              title="求租信息表" >
        <thead>
            <tr>
                <th field="id" checkbox="true"></th>
                <th field="districtName" >区域</th>
                <th field="expectPrice" >出租价（元）</th>
                <th field="rentalType" >租赁方式</th>
                <th field="hallCount" >户型（厅）</th>
                <th field="roomCount" >户型（室）</th>
                <th field="toiletCount" >户型（卫）</th>
                <th field="title" >标题</th>
                <th field="linkMan" >联系人</th>
                <th field="linkPhone" >联系电话</th>
                <th field="createAt" >创建时间</th>
                <th field="updateAt" >更新时间</th>
            </tr>
        </thead>
      </table>
    </div>
    
  </div>
        
	<#include "/resource/demand-rental-edit-form.html">
       
                 
    <script type="text/javascript">
    
    $('#btnSearch').bind('click', function(){
        var param = $('#searchForm').serialize();
        var url = '${siteConfig.baseURL}/resource/demandRental.json?'+param;
        $('#dataGrid').datagrid('options').url = url;
        $('#dataGrid').datagrid('reload');
    });
    
    var dataFormm = $('#dataForm');
    
    var editingId;
    var toolbar = [
        {
            text:'新增',
            iconCls:'icon-add',
            handler:function(){
                $('#addDataDialog').dialog('open').dialog('setTitle', '新增');

                var url = '${siteConfig.baseURL}/resource/demandRental.json';
                $('#dataForm').attr('action', url);
                $('#dataForm').find('input[name="_method"]').val('');
           }
        },

        {
            text:'编辑',
            iconCls:'icon-edit',
            handler:function(){
                var selectedNodes = $('#dataGrid').datagrid('getSelections');
                if(!selectedNodes || selectedNodes.length>1){
                    $.messager.alert('警告','请选择一条数据！','warning');
                   return ;
                }
                
                //var dataForm = $('#dataForm');
                var selected = $('#dataGrid').datagrid('getSelected');
                
                $('#addDataDialog').dialog('open').dialog('setTitle', '编辑');
                
                var url = '${siteConfig.baseURL}/resource/demandRental/'+selected.id+'.json';
                dataForm.attr('action', url);
                dataForm.find('input[name="_method"]').val('put');
                dataForm.form('load', url);
           }
        },

        {
            text:'删除',
            iconCls:'icon-remove',
            handler:helper.deleteHandler({
                datagrid: '#dataGrid',
                url: '${siteConfig.baseURL}/resource/demandRental.json',
                idField: 'id',
                paramIdName: 'ids'
            })
        }
        
    ];
    
    var selectedRow = null;
    var loadUrl = '${siteConfig.baseURL}/resource/demandRental.json';
    $("#dataGrid").datagrid({
        iconCls: 'icon-ok',
        rownumbers: true,
        fitColumns: true,
        pagination: true,
        singleSelect: false,
        url: loadUrl,
        method: 'get',
        pageSize: 20,
        pageList: [20, 40, 60, 100],
        //idField: 'id',
        toolbar: toolbar
    }); 
 </script>
    </@override>
</@extends>