

<@extends parent="application.html">
    
    <@override name="charset">
        <meta charset="UTF-8">
    </@override>
    
    <@override name="title">
       新楼房源
    </@override>
    <@override name="main-content">
       
  <div class="easyui-panel" style="padding: 5px;" data-options="fit:true">
    
    <div class="easyui-panel" data-options="fit:true"> 
       <table id="dataGrid"
              title="新楼房源" 
              data-options="fit:true">
        <thead>
            <tr>
                <th field="id" checkbox="true"></th>
                <th field="title" >标题（房号）</th>
                <th field="districtName" >区域</th>
                <th field="estateName" >所属小区</th>
                <th field="mainPhotoPath" >主题图片</th>
                <th field="hallCount" >户型（厅）</th>
                <th field="roomCount" >户型（室）</th>
                <th field="toiletCount" >户型（卫）</th>
                <th field="fitment" >装修情况</th>
                <th field="sellPrice" >总售价(元)</th>
                <th field="buildArea" >面积(平方米)</th>
                <th field="buildingNo" >楼栋</th>
                <th field="storey" >楼层</th>
                <th field="createAt" >创建时间</th>
                <th field="updateAt" >修改时间</th>
            </tr>
        </thead>
      </table>
    </div>
    
  </div>
        
	<#include "/resource/new-house-edit-form.html">
       
                 
    <script type="text/javascript">
    
    $('#btnSearch').bind('click', function(){
        var param = $('#searchForm').serialize();
        var url = '${siteConfig.baseURL}/resource/newHouse.json?'+param;
        $('#dataGrid').datagrid('options').url = url;
        $('#dataGrid').datagrid('reload');
    });
    
    var editingId;
    var toolbar = [

         {
             text:'新房图片管理',
             handler:helper.selectOneHandler('#dataGrid', function(row){
                         location.href="${siteConfig.baseURL}/resource/house/"+row.id+"/photo";
                     })
         },
                   
        {
            text:'新增',
            iconCls:'icon-add',
            handler:function(){
                $('#addDataDialog').dialog('open').dialog('setTitle', '新增');

                var url = '${siteConfig.baseURL}/resource/newHouse.json';
                $('#dataForm').attr('action', url);
                $('#dataForm').find('input[name="_method"]').val('');
           }
        },

        {
            text:'编辑',
            iconCls:'icon-edit',
            handler:function(){
                if(!$('#dataGrid').isSelectedOne()){
                    $.messager.alert('警告','请选择一条数据！','warning');
                   return ;
                }

                var dataForm = $('#dataForm');
                var selected = $('#dataGrid').datagrid('getSelected');
                
                $('#addDataDialog').dialog('open').dialog('setTitle', '编辑');
                
                var url = '${siteConfig.baseURL}/resource/newHouse/'+selected.id+'.json';
                dataForm.attr('action', url);
                dataForm.find('input[name="_method"]').val('put');
                dataForm.form('load', url);
           }
        },

        {
            text:'删除',
            iconCls:'icon-remove',
            handler:helper.deleteHandler({
                        datagrid: '#dataGrid',
                        url: '${siteConfig.baseURL}/resource/newHouse.json',
                        idField: 'id',
                        paramIdName: 'ids'
                    })
        }
        
    ];
    
    var selectedRow = null;
    var loadUrl = '${siteConfig.baseURL}/resource/newHouse.json';
    $("#dataGrid").datagrid({
        iconCls: 'icon-ok',
        rownumbers: true,
        fitColumns: true,
        pagination: true,
        singleSelect: false,
        url: loadUrl,
        method: 'get',
        pageSize: 20,
        pageList: [20, 40, 60, 100],
        //idField: 'id',
        toolbar: toolbar
    }); 
 </script>
    </@override>
</@extends>