<?xml version="1.0" encoding="UTF-8"?>   
<configuration>   
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">   
    <encoder  class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">   
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger{0} - %msg%n</pattern>   
    </encoder >   
  </appender>   
  
  <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>../logs/iccard-web.log</file>
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  		<fileNamePattern>iccard-web.%d{yyyy-MM-dd}.log</fileNamePattern>
  		<!-- keep 30 days' worth of history -->
      	<maxHistory>30</maxHistory>
  	</rollingPolicy>
  	<encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger{0} - %msg%n</pattern>  
    </encoder>
  </appender>
  
  <appender name="iccardAccess" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>../logs/iccard_access.log</file>
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  		<fileNamePattern>iccard_access.%d{yyyy-MM-dd}.log</fileNamePattern>
  	</rollingPolicy>
  	<encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger{0} - %msg%n</pattern>  
    </encoder>
  </appender>
  
  <appender name="importData" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>../logs/回盘数据导入/import_data.log</file>
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  		<fileNamePattern>import_data.%d{yyyy-MM-dd}.log</fileNamePattern>
  	</rollingPolicy>
  	<encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger{0} - %msg%n</pattern>  
    </encoder>
  </appender>
  
  	<appender name="mail" class="ch.qos.logback.classic.net.SMTPAppender">
	    <smtpHost>smtp.sina.com</smtpHost>
	    <smtpPort>25</smtpPort>
	    <SSL>false</SSL>
	    <username>qyscard@sina.com</username>
	    <password>qyscard</password>
	
	    <to>pistols@qq.com</to>
	    <from>qyscard@sina.com</from>
	    <subject>程序严重错误，请注意</subject>
	    <layout class="ch.qos.logback.classic.PatternLayout">
	    <pattern>%date %-5level %logger{35} - %message%n</pattern>
	    </layout>
	</appender>
   <logger name="mailLogger" level="INFO">  
       <appender-ref ref="mail" />   
   </logger>  
  
  
   <logger name="iccardAccessLogger" level="INFO">  
       <appender-ref ref="iccardAccess" />   
   </logger>  
     
  <root level="INFO">   
    <appender-ref ref="console" />   
	<appender-ref ref="logFile" />
  </root>   
</configuration>