<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>onetwo-fish</display-name>
   
	

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/views/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/400.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
	
	<mime-mapping> 
	 <extension>doc</extension>
	 <mime-type>application/msword</mime-type> 
	 </mime-mapping> 
	 <mime-mapping> 
	 <extension>xls</extension> 
	 <mime-type>application/msexcel</mime-type> 
	 </mime-mapping> 
	 <mime-mapping>
	  <extension>xlsx</extension>
	  <mime-type>application/vnd.ms-excel</mime-type>
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>pdf</extension> 
	 <mime-type>application/pdf</mime-type> 
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>zip</extension> 
	 <mime-type>application/zip</mime-type> 
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>rar</extension> 
	 <mime-type>application/rar</mime-type> 
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>txt</extension> 
	 <mime-type>application/txt</mime-type> 
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>chm</extension> 
	 <mime-type>application/mshelp</mime-type>
	 </mime-mapping> 
</web-app>