<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>onetwo-fish</display-name>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
			org.onetwo.common.fish.web.JFishWebApplicationContext
		</param-value>
	</context-param>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>multipartFilter</filter-name>
		<filter-class>org.onetwo.common.spring.web.filter.SpringMultipartFilterProxy</filter-class>
	</filter>
	
	<filter>
		<filter-name>systemFilter</filter-name>
		<filter-class>org.onetwo.common.web.filter.BaseInitFilter</filter-class>
		<init-param>
			<param-name>filterSuffix</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter>
        <filter-name>AjaxAnywhere</filter-name>
        <filter-class>org.ajaxanywhere.AAFilter</filter-class>
    </filter>
    
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>multipartFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>systemFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>AjaxAnywhere</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.onetwo.common.spring.web.JFishDispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>springServlet</servlet-name>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/views/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/400.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
	
	<mime-mapping> 
	 <extension>doc</extension>
	 <mime-type>application/msword</mime-type> 
	 </mime-mapping> 
	 <mime-mapping> 
	 <extension>xls</extension> 
	 <mime-type>application/msexcel</mime-type> 
	 </mime-mapping> 
	 <mime-mapping>
	  <extension>xlsx</extension>
	  <mime-type>application/vnd.ms-excel</mime-type>
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>pdf</extension> 
	 <mime-type>application/pdf</mime-type> 
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>zip</extension> 
	 <mime-type>application/zip</mime-type> 
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>rar</extension> 
	 <mime-type>application/rar</mime-type> 
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>txt</extension> 
	 <mime-type>application/txt</mime-type> 
	 </mime-mapping>
	 <mime-mapping> 
	 <extension>chm</extension> 
	 <mime-type>application/mshelp</mime-type>
	 </mime-mapping> 
</web-app>