
<@extends parent="/[web-admin]/layout/easyui-js.html">
    
    <@override name="charset">
        <meta charset="UTF-8">
    </@override>
    
    <@override name="title">
       产品激活统计
    </@override>
    <@override name="main-content">
       
  <div class="easyui-panel" style="padding: 5px;" data-options="fit:true">
     
    <div class="easyui-panel" style="height:85%" data-options="fit:true"> 
       <table id="dataGrid"
              title="产品激活统计" style="height:400px" >
        <thead>
            <tr>
                <th field="activeDate" >时间</th>
                <th field="userName" >账号</th>
                <th field="productName" >产品</th>
                <th field="activeAmount" >激活数量</th>
                <th field="productPrice" >产品价格</th>
                <th field="income" >收入</th>
                <th field="remark" >备注</th>
            </tr>
        </thead>
      </table>
    </div>
    
  </div>
        
                 
    <script type="text/javascript">

    var reqUrl = '${siteConfig.baseURL}/manager/activeIncome/statis.json';
    $("#dataGrid").datagrid({
        iconCls: 'icon-ok',
        rownumbers: true,
        fitColumns: true,
        pagination: true,
        showFooter: true,
        singleSelect: false,
        url: reqUrl,
        method: 'get',
        pageSize: 20,
        pageList: [20, 40, 60, 100]
    }); 
	 </script>
    </@override>
</@extends>